* {
    color:antiquewhite;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    padding: 0%;
    font-family: "Bigilla" !important;
}

body{ background-image: linear-gradient(#09334e,#c3918d);}

html {scroll-behavior: smooth;}

.content {
    padding-top: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

/* odd - Red Pages */
#Outline,#Recap,#Websites,#Further_Learning{
    background-image: url("../img/project.png");
    background-repeat: repeat;
    height: 110vh;
    /* For 100% screen height */
    width: 100vw;
    /* For 100% screen width */
}
/* even - Blue Pages */
#Introduction,#Internet,#Hacking,#Experimenting{
    background-image: url("../img/project.png");
    background-repeat: repeat;
    height: 110vh;
    /* For 100% screen height */
    width: 100vw;
    /* For 100% screen width */
}


.grid-container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vh 0vh  auto auto auto ;
                      /*  1    2     3    4    5   6     7*/
    grid-template-rows:  20vh 20vh 35vh 3%   10vh;
                      /*  1    2    3    4    5*/
    gap: 1vw 1vh;
    padding: 1vw 1vh;
}

.main_part{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}

.scroll {
    grid-column-start: 3;
    grid-column-end: 4;
    /* grid-row-start: 4;
    grid-row-end: 5; 
    display: flex;
    justify-content: center;
    */
}

.scroll img{
  width:3.7vh;height:3.7vh;
}

.scroll  a{
    width:5.7vh;
    height:5.7vh;
    background-color: antiquewhite;
    border: 1vh solid  antiquewhite;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.scroll img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}


/*add to this after */
@media all and (max-width: 900px) {


.scroll {
    grid-column-start: 2;
    grid-column-end: 3;
     grid-row-start: 4;
    grid-row-end: 5; 
}

}


