/*general rules*/

h3, h2, h5, h1,h2{
	text-align: center
}

/*intro*/
.intro h2, p{
	text-align: center;
	font-size: 1.3em;
}
.intro {
	padding-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
}
/*hero image*/
.hero-image {
	background-image: url(../img/Dream/new.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
  }
.profile{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
}
.profile img{
	margin-top: 1%;
	margin-bottom: 1%;
	width: 20vh;
	height:20vh;
}

/*ask for action: many of these sooo */

.social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;	
	padding-top: 15px;
}

.social a{
	width:7vh;
	height:7vh;
}

.social a:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
  }

/* */

